@{
    ViewData["Title"] = "Авторизация";
}

<div class="text-center">
    <h1 class="display-4">Авторизация</h1>
    <p>Код <b>@ViewBag.code</b></p>
</div>

<a href="#" class="btn btn-success">Продолжить</a>