@{
    ViewData["Title"] = "Карьерная страница";
}

<div class="text-center">
    <h1 class="display-4">Карьерная страница</h1>
</div>

<a href="https://hh.ru/oauth/authorize?response_type=code&client_id=@ViewBag.client_id" class="btn btn-success">Войти в аккаунт</a>
